include ../date/date

mixin news-bank(data)
    +b.news-bank&attributes(attributes)

        each ent, num in data
            +e.A.header(href="#") #{ent.header}

            if ent.news
                .js-news-bank
                    +e.UL.list
                        each ent2, num2 in ent.news

                            +e.item
                                +e.link(href="#{ent2.link}")
                                    +date.__date
                                        +e.SPAN.day #{ent2.dateDay}
                                        +e.SPAN.month #{ent2.dateMonth}
                                    +e.H3.title= ent2.title

                    +e.UL.list
                        each ent2, num2 in ent.news

                            +e.item
                                +e.link(href="#{ent2.link}")
                                    +date.__date
                                        +e.SPAN.day #{ent2.dateDay}
                                        +e.SPAN.month #{ent2.dateMonth}
                                    +e.H3.title= ent2.title

