include ../slider-small/slider-small

mixin news-unit(data)
    +b.news-unit&attributes(attributes)
        each ent, num in data
            if ent.slider
                +e.slider
                    +slider-small(ent.slider)

            +e.content
                h2 #{ent.head}
                    if ent.news
                        +e.UL.list
                            each ent2, num2 in ent.news
                                +e.item
                                    +e.link(href="#{ent2.link}")
                                        +e.date
                                            +e.SPAN.date-_day #{ent2.dateDay}
                                            +e.SPAN.date-month #{ent2.dateMonth}
                                        +e.title
                                            h3= ent2.title

